

.App {
box-shadow: 5px 10px 8px #888888;

  margin-top: 50px;
}
.InputS {
  width: 50%;
}
.form {
  padding: 1em;
}



label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
